* {
    margin: 0;
    padding: 0;
}

.header {
   background-color: #00337C;
   width: 40%;
   height: 400px;
   margin-top: 200px;
   margin-left: 500px;
   text-align: center;
   color: white;
   font-size: 2rem;
   border: 7px dotted black;
}

body{
    background-color: #13005A;
}
p{
    color: black;
}

button{
    background-color:aquamarine;
    color: black;
    width: 150px;
    height: 40px;
    margin-top: 120px;
    border-radius: 5px;
    padding: 3px 6px;
    font-size: 1.3rem;
}